.lw {
   font-size: 60px;
  color :#F5F5F5 ;
}
body
{
  background-color: #9ACD32;  
}
.sidebar
{
  height: 600px;
  width: 200px;
  float: left;
  padding: 30px;
}
.sidebar li
{
  color: #FFFFFF;
  background-color:#40bfb0;
}